@using Finder.Repository;

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster:300,400,600,700&amp;lang=en" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />

@{
    ViewBag.Title = "I lost my pet!";
}

<style type="text/css">

    h1 {
        font-family: "Lobster";
    }

    h3 {
        font-family: "Lobster";
    }

    h4 {
        font-family: "Open Sans";
    }
</style>

<div class="header">
    <h1>I lost my pet!</h1>
</div>

<div class="row">
    <div class="header">
        <img src="~/images/telescope.svg" width="150" />
        <h4>Use this page to see if someone has found your pet.</h4>
        <h4>If not, tell us about your pet in case someone finds it later.</h4>
    </div>
</div>

@{
    var pr = new PetRepository(new System.Data.SqlClient.SqlConnection());
    var petTypes = pr.GetPetTypes();
    var petTypesList = new List<SelectListItem>();
    for (int i = 0; i < petTypes.Count(); i++)
    {
        petTypesList.Add(new SelectListItem { Text = petTypes.ElementAt(i).Id.ToString(), Value = petTypes.ElementAt(i).Name });
    }
}

<table>
    <tr>
        <th>Tell us about your lost pet:</th>
    </tr>
    <tr>
        <td>What type of pet is lost?</td>
        <td>
            @Html.DropDownList("Test", new SelectList(petTypesList, "Value", "Text"))
        </td>
    </tr>
    <tr>
        <td>What size is the lost pet?</td>
        <td>
            @Html.DropDownList("Test", new SelectList(petTypes, "Value", "Text"))
        </td>
    </tr>
</table>

<br />

<div class="row header">
    <a class="btn btn-default" href="~/home/find">
        <h4>I don't see my pet!</h4>
    </a>
</div>
