@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This tool helps connect lost pets with their worried owners.  When an owner has lost a pet, they can check to see if someone has found it.  If not, they can post information about their pet.  If someone finds a lost pet, they can check to see if someone lost it.  If not, they can post information about the pet they found.</p>
