<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster:300,400,600,700&amp;lang=en" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;lang=en" />

<style type="text/css">

    h1 {
        font-family: "Lobster";
    }

    h3 {
        font-family: "Lobster";
    }

    h4 {
        font-family: "Roboto";
    }
</style>

<h1>@ViewData["Title"] Lost a pet? Try us!</h1>

<h4>Don't just put up flyers around the neighborhood. PetFinder minimizes the time from lost to found by putting pet owners and their potential rescuers in touch with one another.</h4>

<blockquote>
    <h3>@ViewData["Message"] Has someone found your pet?</h3>
    <h4>Try our database of pet descriptions, locations, and contact phone numbers. New entries are added daily! If you can't find a description that matches your pet, add your pet's information and your number to our database.</h4>

    <h3>@ViewData["Message"] Found someone else's pet?</h3>
    <h4>Make someone's day! Check our database to see whether someone's posted a lost pet listing. If you can't find a matching description, post one of your own.</h4>
</blockquote>