@{
    ViewData["Title"] = "From Lost to Found: We're Here for You";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Lost a friend? Once you've put up flyers around the neighborhood, try us! Hundreds of lost pets are rescued and reconnected with their owners by well-meaning samaritans every year. PetFinder minimizes the time from lost to found by putting pet owners and their potential rescuers in touch with one another.</p>  
    
    <blockquote><p><b>OWNERS:</b> If you're curious whether someone's found your pet, try our database of pet descriptions, locations, and contact phone numbers. New entries are added daily! If you can't find a description that matches your pet, add your pet's information and your number to our database.</p>  
    
    <p><b>FINDERS:</b> Found a pet that you think might be lost? Make someone's day: Check our database to see whether someone's posted a listing. If you can't find a matching description, post one of your own, leaving your contact information for potential owners to find!</p></blockquote>

<p><b><i>PLEASE NOTE:</i></b> PetFinder does not presently partner with any veterinary clinics. Remember to give your local vets a call to see if somebody's turned in your buddy!</p>
