<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster:300,400,600,700&amp;lang=en" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />

<style type="text/css">

    h2 {
        font-family: "Lobster";
    }

    h3 {
        font-family: "Open Sans";
    }

    address {
        font-family: "Open Sans";
    }

</style>

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Fourth Avenue N<br />
    Fifthville, SD 78910-1234<br />
    (123) 456-7890<br />
</address>
