
@{
    ViewData["Title"] = "I found someone's pet!";
}

<h2></h2>
<h4></h4>

<div class="header">
    <h1>I found someone's pet!</h1>
</div>

<div class="row">
    <div class="header">
        <img src="~/images/map.svg" width="150" />
        <h4>Use this page to see if someone lost the pet you've found.</h4>
        <h4>If not, tell us about the pet you found in case someone comes looking later.</h4>
    </div>
</div>